/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.like-icon .heart__contour {
  fill: var(--base-heart-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart__contour {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.like-icon .heart__body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .heart__body {
  fill: var(--base-heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart__body {
  fill: var(--active-heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart__body {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.like-icon .heart__core {
  fill: var(--background-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .heart__core {
  fill: var(--base-heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart__core {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart__core {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartScale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
