/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-top: 100px;
  background-color: var(--background-color);
  background-image: var(--page-background-img);
  background-attachment: fixed;
  display: grid;
  font-family: var(--base-font);
  font-weight: var(--base-text-font-weight);
  font-size: var(--base-font-size);
  font-variation-settings: "wght" 400;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: var(--accent-text-font-weight);
  margin-bottom: 100px;
}

.logo-group {
  width: var(--main-coloumn-width);
  min-height: 327px;
  max-height: 368px;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.logo__header {
  font-size: 49px;
}

.logo__text {
  font-size: 23px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: var(--main-coloumn-width);
}

.card-list__item {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: 100%;
}

.card__header {
  padding: 4px 0 6px 10px;
  display: flex;
  align-items: center;
}

.card__header-text {
  font-variation-settings: "wght" 785;
}

.card__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.card__image::before {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 50%;
  text-shadow: 0.5px var(--background-color);
  content: "";
  mix-blend-mode: hard-light;
}

.card__image:has(.filter__none)::before {
  content: "</HTML>";
}

.card__image:has(.filter-1)::before {
  content: "</HTML>";
}

.card__image:has(.filter-2)::before {
  content: "<CSS>";
}

.card__image:has(.filter-3)::before {
  content: "<desigions>";
}

.card__image:has(.filter-4)::before {
  content: "care";
}

.card__image:has(.filter-5)::before {
  content: "<support>";
}

.card__image:has(.filter-6)::before {
  content: "<lifes-style: none;>";
}

.card__image:has(.filter-7)::before {
  content: "<experience>";
}

.card__footer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.p-margin {
  margin-bottom: 27px;
}

.card__interactions {
  display: flex;
  justify-content: end;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 7px;
}

.like-icon {
  width: 36px;
  height: 39px;
}

.sparks {
  opacity: 0;
}

.button {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  font-size: 14px;
  padding: 0;
}

.save-button {
  margin: 50px auto 100px auto;
  width: 335px;
  height: 55px;
  gap: 8px;
}

.button__icon {
  width: 22px;
  height: 22px;
}

.save-window {
  padding: 0;
}

.save-window__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 353px;
  height: 191px;
}

.save-window__content {
  display: flex;
  gap: 20px;
  font-family: var(--accent-font);
}

.save-window__icon {
  width: 39px;
  height: 39px;
}

.save-window__button {
  width: 293px;
  height: 38px;
  padding: 9px 17px;
}

.save-window__text {
  max-width: 243px;
}

@media (width < 376px) {
  :root {
    --main-coloumn-width: 100%;
  }

  .logo__text {
    font-size: 14px;
  }

  .save-button {
    flex-direction: column;
    width: 306px;
    height: 80px;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }
}

@supports (
  (-webkit-text-stroke: 0.5px var(--background-color)) or
    (text-stroke: 0.5px var(--background-color))
) {
  .card__image::before {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--background-color);
    text-stroke: 0.5px var(--background-color);
  }
}
