/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --base-font: "Inter";
    --accent-font: "PressStart2P";

    --base-text-font-weight: normal;
    --base-header-font-weight: bold;
    --accent-text-font-weight: 400;

    --base-font-size: 18px;


    --color-black: #000;
    --color-white: #fff;
    --color-red: #f00;

    --base-heart-color: var(--color-black);
    --active-heart-color: var(--color-red);

    --text-color: var(--color-black);
    --background-color: var(--color-white);
    --border-color: var(--color-black);

    --page-background-img: 
                        url(/images/fill_image.png), linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);


    --main-coloumn-width: clamp(375px, 48.61%, 700px);
    --min-width: 375px;
    --max-width: 700px;
}